USE [master]
GO
/****** Object:  Database [TaskManagmentDB]    Script Date: 10.01.2019 14:34:01 ******/
CREATE DATABASE [TaskManagmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagmentDB', FILENAME = N'E:\DATA\TaskManagmentDB.mdf' , SIZE = 5184KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskManagmentDB_log', FILENAME = N'E:\DATA\TaskManagmentDB_log.ldf' , SIZE = 4736KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagmentDB]
GO
/****** Object:  User [TaskManagmentDB]    Script Date: 10.01.2019 14:34:01 ******/
CREATE USER [TaskManagmentDB] FOR LOGIN [TaskManagmentDB] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [TaskManagmentDB]
GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[Name] [nvarchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateType] [int] NOT NULL,
 CONSTRAINT [PK_Attributes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AttrValues]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttrValues](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AttrID] [int] NOT NULL,
	[WorkID] [int] NOT NULL,
	[DataType] [int] NOT NULL,
	[ValueText] [nvarchar](max) NULL,
	[ValueInt] [int] NULL,
	[ValueDate] [date] NULL,
	[ValueTime] [time](7) NULL,
 CONSTRAINT [PK_AttrValues] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONPROC_MAIN_FILTER_N]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONPROC_MAIN_FILTER_N](
	[NUM_USER] [int] NOT NULL,
	[DTBEFORE] [datetime] NULL,
	[DTAFTER] [datetime] NULL,
	[EXECUTOR] [nvarchar](50) NULL,
	[NUM_OBJECT] [int] NULL,
	[NUM_PARAM] [int] NULL,
	[NUM_METH] [int] NULL,
	[NUM_ALGTYPE] [int] NULL,
	[NUM_ALGGROUP] [int] NULL,
	[POSX] [int] NULL,
	[POSY] [int] NULL,
	[SIZEX] [int] NULL,
	[USELAST] [int] NULL,
	[ALG_VER] [nvarchar](10) NULL,
	[NAME_ALG] [nvarchar](200) NULL,
	[NAME_GROUP] [nvarchar](255) NULL,
 CONSTRAINT [PKCU_CONPROC_MAIN_FILTER_N_N] PRIMARY KEY CLUSTERED 
(
	[NUM_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFATT]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFATT](
	[NUM_FORM] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[VARGROUP] [nvarchar](255) NULL,
	[VARNAME] [nvarchar](255) NULL,
	[NAME] [nvarchar](50) NULL,
 CONSTRAINT [PKCU_DFATT_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[CLASS] [nvarchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[DOCFORM] [image] NULL,
	[DOCVARS] [image] NULL,
	[DESCR] [text] NULL,
	[DT] [datetime] NULL,
	[USERID] [nvarchar](100) NULL,
	[FINISHLOCK] [bit] NULL,
	[DOCVIS] [image] NULL,
 CONSTRAINT [PKCU_DFORMS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMSDOX]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMSDOX](
	[NUM_DOC] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[DT] [datetime] NULL,
	[TM] [datetime] NULL,
	[DOC] [image] NULL,
	[FINAL] [int] NULL,
	[FIO_ID] [nvarchar](50) NULL,
	[LAB_ID] [int] NULL,
 CONSTRAINT [PKCU_DFORMSDOX_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMSDOXATT]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMSDOXATT](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_DOX_FORM] [int] NULL,
	[NAME_P] [nvarchar](255) NULL,
	[VALUE_P] [nvarchar](255) NULL,
 CONSTRAINT [PKCU_DFORMSDOXATT_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMSDOXP]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMSDOXP](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_DOX_FORM] [int] NULL,
	[NAME_P] [nvarchar](255) NULL,
	[VALUE_P] [nvarchar](255) NULL,
 CONSTRAINT [PKCU_DFORMSDOXP_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMSHISTORY]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMSHISTORY](
	[NUM_FORM] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NAME_PRM] [nvarchar](255) NULL,
	[VALUE_PRM] [nvarchar](255) NULL,
	[TIME_STAMP] [datetime] NULL,
 CONSTRAINT [PKCU_DFORMSHISTORY_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMSOLE]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMSOLE](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_DOC] [int] NULL,
	[OLEDATA] [image] NULL,
 CONSTRAINT [PKCU_DFORMSOLE_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DFORMSQUERY]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFORMSQUERY](
	[NUM_FORM] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUMBR] [int] NULL,
	[NAME] [nvarchar](100) NULL,
	[QUERY] [image] NULL,
	[PARAMS] [image] NULL,
 CONSTRAINT [PKCU_DFORMSQUERY_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOPLINKS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOPLINKS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[TBL1] [nvarchar](50) NULL,
	[FLD1] [nvarchar](50) NULL,
	[RELT1T2] [smallint] NULL,
	[TBL2] [nvarchar](50) NULL,
	[FLD2] [nvarchar](50) NULL,
 CONSTRAINT [PKCU_DOPLINKS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GLOBALOPTIONS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GLOBALOPTIONS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[OPTNAME] [nvarchar](255) NULL,
	[OPTVALUE] [image] NULL,
 CONSTRAINT [PKCU_GLOBALOPTIONS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IGLIST]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IGLIST](
	[NUM_GROUP] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_INV] [int] NULL,
 CONSTRAINT [PKCU_IGLIST_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IGROUPS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IGROUPS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[GRUP] [nvarchar](50) NULL,
 CONSTRAINT [PKCU_IGROUPS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVENTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[SNAME] [nvarchar](50) NULL,
	[TABLENAME] [nvarchar](50) NULL,
	[NEEDTOSHOW] [bit] NULL,
 CONSTRAINT [PKCU_INVENTS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVFIELDS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVFIELDS](
	[NUM_INV] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[FIELD] [nvarchar](50) NULL,
	[TYPE] [smallint] NULL,
 CONSTRAINT [PKCU_INVFIELDS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JOURNAL]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_FORM] [int] NULL,
	[NUM_LAB] [int] NULL,
 CONSTRAINT [PKCU_JOURNAL_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JRO_LAB]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JRO_LAB](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_EQUIP] [int] NOT NULL,
	[NUM_LAB] [int] NOT NULL,
 CONSTRAINT [PKCU_JRO_LAB_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LABS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABS](
	[NUM_LAB] [int] IDENTITY(1,1) NOT NULL,
	[NAME_LAB] [nvarchar](255) NULL,
	[LAB_MNGR_JOB] [nvarchar](30) NULL,
	[LAB_MNGR] [nvarchar](80) NULL,
	[METROLOG] [nvarchar](80) NULL,
	[ATTESTAT] [text] NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[PHONES] [nvarchar](100) NULL,
	[LAB] [nvarchar](20) NULL,
	[EMAIL] [nvarchar](255) NULL,
 CONSTRAINT [PKCU_LABS_NUM_LAB] PRIMARY KEY CLUSTERED 
(
	[NUM_LAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LEVELS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVELS](
	[LevelID] [int] NOT NULL,
	[LevelName] [nvarchar](50) NULL,
 CONSTRAINT [PK_LEVELS] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LJ_LOCKF]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LJ_LOCKF](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LJT] [int] NULL,
	[NUM_N] [int] NULL,
	[NUM_FIO1] [int] NULL,
	[NUM_FIO2] [int] NULL,
	[DT] [datetime] NULL,
	[TM] [datetime] NULL,
 CONSTRAINT [PKCU_LJ_LOCKF_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LJS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LJS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[JOURNAL] [nvarchar](255) NULL,
	[FORMULABEFORE] [text] NULL,
	[FORMULAAFTER] [text] NULL,
	[SHORTNAME] [nvarchar](30) NULL,
	[INSTRUCTION] [text] NULL,
	[NORCHECK] [bit] NULL,
	[NOXMED] [bit] NULL,
	[USE_GR] [bit] NULL,
	[FULLSCR] [bit] NULL,
	[BRAKSCAN] [bit] NULL,
	[NUM_N_SHOW] [int] NULL,
	[USE_REGNUM] [bit] NULL,
	[REGNUM] [int] NULL,
	[USE_REAGENT_WRITEOFF] [bit] NULL,
	[USEMETHLAB] [bit] NULL,
	[VIEWTYPE] [int] NULL,
	[STOREFILES] [bit] NULL,
	[CLAS] [nvarchar](60) NULL,
	[NUMB] [int] NULL,
	[SHORTJOURNAL] [nvarchar](255) NULL,
	[FBEFOREDESC] [nvarchar](255) NULL,
	[FAFTERDESC] [nvarchar](255) NULL,
	[NUMTEXTDOC] [int] NULL,
	[CIPHERFIELD] [nvarchar](11) NULL,
	[MNGPARAMS] [bit] NULL,
	[DOCVIS] [image] NULL,
	[USE_VERIF] [bit] NULL,
	[VERIFKOEF] [float] NULL,
	[DATETAKENTXT] [nvarchar](100) NULL,
	[TIMETAKENTXT] [nvarchar](100) NULL,
	[ISDTSHOW] [bit] NULL,
	[ISLOCKINSERT] [bit] NULL,
	[COPYTAKINGDTTM] [bit] NULL,
	[NUM_C_CM] [int] NULL,
	[USEMULTIINS] [bit] NULL,
	[USE_SELECTNORM] [bit] NULL,
 CONSTRAINT [PKCU_LJS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[UZER] [nvarchar](100) NULL,
	[PASSWORD] [nvarchar](30) NULL,
	[LAB] [int] NULL,
	[comment] [nvarchar](255) NULL,
	[OKT] [int] NULL,
	[FIOISP] [nvarchar](50) NULL,
	[DT] [datetime] NULL,
	[HIM_RIGHT] [int] NULL,
	[UNI_RIGHT] [int] NULL,
	[DOC_RIGHT] [int] NULL,
	[JUR_RIGHT] [smallint] NULL,
	[SML_RIGHTS] [smallint] NULL,
	[OTHER_RIGHTS] [int] NULL,
	[SMK_RIGHTS] [int] NULL,
	[MNG_RIGHTS] [nvarchar](50) NULL,
	[LAB_RIGHTS] [int] NULL,
	[WORK_SP] [int] NULL,
	[TJ_RIGHTS] [int] NULL,
	[OTHER_RIGHTS2] [int] NULL,
	[NUM_IMG] [int] NULL,
	[PASS_PER] [int] NULL,
	[PASS_END] [datetime] NULL,
	[HIM2_RIGHTS] [nvarchar](50) NULL,
	[BLOCKED] [bit] NULL,
	[JRO2_RIGHTS] [nvarchar](30) NULL,
	[ADUSER] [nvarchar](255) NULL,
	[worker_rights] [int] NULL,
	[other_rights3] [nvarchar](250) NULL,
 CONSTRAINT [PKCU_LOGIN_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_CLJJ_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_CLJJ_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_LJ] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_CLJJ_RIGHTS_NUM_R] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_CLJL_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_CLJL_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_LAB] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_CLJL_RIGHTS_NUM_R] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_JGROUP_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_JGROUP_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_JR] [int] NULL,
	[GR_NAME] [nvarchar](255) NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_JGROUP_RIGHTS_NUM] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_JRO_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_JRO_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_SERVICE] [int] NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_JRO_RIGHTS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_JUHR_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_JUHR_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_JUHR] [int] NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_JUHR_RIGHTS_NUM_R] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_JURNAL_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_JURNAL_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_JURNAL] [int] NULL,
	[RIGHTS] [int] NULL,
	[BAN] [bit] NULL,
 CONSTRAINT [PKCU_LOGIN_JURNAL_RIGHTS_NUM] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_NDOCS_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_NDOCS_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_DOCS] [int] NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_NDOCS_RIGHTS_NUM_] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_IGROUPS] [int] NULL,
	[RIGHTS] [bit] NULL,
 CONSTRAINT [PKCU_LOGIN_RIGHTS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_SML_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_SML_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_SML] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_SML_RIGHTS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_TJ_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_TJ_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_TJ] [int] NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_TJ_RIGHTS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_UNIV_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_UNIV_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_UNIBOOK] [int] NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_UNIV_RIGHTS_NUM_R] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN_UNIV2_RIGHTS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN_UNIV2_RIGHTS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LOGIN] [int] NULL,
	[NUM_US] [int] NULL,
	[RIGHTS] [int] NULL,
 CONSTRAINT [PKCU_LOGIN_UNIV2_RIGHTS_NUM_] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[METHPARVARS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METHPARVARS](
	[NUM_PRM] [int] NULL,
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[VARIABLE] [nvarchar](255) NULL,
	[V2] [nvarchar](255) NULL,
	[DESCR] [nvarchar](255) NULL,
	[UNIT] [nvarchar](15) NULL,
	[CONSTANT] [float] NULL,
	[MAXVAL] [float] NULL,
	[CALIBR] [nvarchar](14) NULL,
	[MINVAL] [float] NULL,
	[ISMETROL] [bit] NULL,
	[NUM_JPR] [int] NULL,
	[NUM_MTD] [int] NULL,
	[CONST_LOCK] [bit] NULL,
	[IS_LEFT] [bit] NULL,
	[NUM_JRPV] [int] NULL,
	[COPY_LOCK] [bit] NULL,
	[NUM_QUERY] [int] NULL,
	[NUM_CALC] [int] NULL,
	[ISVSP] [bit] NULL,
	[NUM_JPR2] [int] NULL,
	[NUM_CRM] [int] NULL,
	[ISRAZB] [bit] NULL,
 CONSTRAINT [PKCU_METHPARVARS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Properties]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[DataType] [int] NOT NULL,
	[PropName] [varchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Property] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PropValues]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropValues](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataType] [int] NOT NULL,
	[PropID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[ValueText] [nvarchar](max) NULL,
	[ValueInt] [int] NULL,
	[ValueDate] [date] NULL,
	[ValueTime] [time](7) NULL,
 CONSTRAINT [PK_PropValues] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGNUMS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGNUMS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
	[COMM] [nvarchar](255) NULL,
	[TEMPL] [nvarchar](50) NULL,
	[COUNTER] [int] NULL,
	[USELABS] [bit] NULL,
	[USEINDOCS] [bit] NULL,
 CONSTRAINT [PKCU_REGNUMS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SMK2_JFORMS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMK2_JFORMS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_SMK] [int] NULL,
	[NAME] [nvarchar](255) NULL,
	[SHORTNAME] [nvarchar](25) NULL,
	[INSTRUCTION] [text] NULL,
	[USECONFIRM] [bit] NULL,
 CONSTRAINT [PKCU_SMK2_JFORMS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SMK2_JOURNALS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMK2_JOURNALS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_JFORM] [int] NULL,
	[NUM_LAB] [int] NULL,
 CONSTRAINT [PKCU_SMK2_JOURNALS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SML]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SML](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NULL,
	[NAME] [nvarchar](255) NULL,
	[SHORTNAME] [nvarchar](20) NULL,
	[NUM] [int] NULL,
	[NUM_GRP] [int] NULL,
	[ADD_LJ] [bit] NULL,
	[DOP] [text] NULL,
	[ISREADY] [bit] NULL,
 CONSTRAINT [PKCU_SML_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPR_HEADERS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPR_HEADERS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[SID] [nvarchar](50) NULL,
	[NAMEFORM] [nvarchar](255) NULL,
	[COMM] [nvarchar](255) NULL,
	[H] [int] NULL,
	[W] [int] NULL,
	[NUM_GROUP] [int] NULL,
	[LIMITTXT] [int] NULL,
 CONSTRAINT [PKCU_SPR_HEADERS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SPR_VALS]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPR_VALS](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_SPR] [int] NULL,
	[VAL] [nvarchar](255) NULL,
 CONSTRAINT [PKCU_SPR_VALS_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SR_DOC_ND]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SR_DOC_ND](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_DOC] [int] NULL,
	[NAME] [nvarchar](200) NULL,
	[NUM_DFORMS] [int] NULL,
 CONSTRAINT [PKCU_SR_DOC_ND_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATISTIKA]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATISTIKA](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[DATE_ST] [datetime] NULL,
	[TYPE_ST] [int] NULL,
	[NAME_ST] [nvarchar](255) NULL,
	[COUNT_ST] [int] NULL,
 CONSTRAINT [PKCU_STATISTIKA_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskName] [varchar](255) NULL,
	[TaskTypeID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentTaskID] [int] NULL,
	[WorkTypeID] [int] NOT NULL,
	[Descriptions] [varchar](max) NULL,
	[IndexNumber] [int] NULL,
	[LevelID] [int] NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskTypeProps]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeProps](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeID] [int] NOT NULL,
	[PropID] [int] NOT NULL,
 CONSTRAINT [PK_TTypeProps] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskTypes]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypes](
	[TypeName] [varchar](50) NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_TTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNIBOOK]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIBOOK](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NAMEBOOK] [nvarchar](255) NULL,
	[NAMEBOOKSM] [nvarchar](30) NULL,
	[FORMTABLE] [smallint] NULL,
	[DOP] [text] NULL,
	[HASTABLE] [bit] NULL,
 CONSTRAINT [PKCU_UNIBOOK_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UNILAB]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNILAB](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_LAB] [int] NULL,
	[NUM_UNI] [int] NULL,
 CONSTRAINT [PKCU_UNILAB_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[US]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[US](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [nvarchar](255) NULL,
	[SNAM] [nvarchar](100) NULL,
	[TYPVIEW] [int] NULL,
	[DOP] [text] NULL,
	[EXPAND] [bit] NULL,
	[TYPUSE] [int] NULL,
	[DOCVIS] [image] NULL,
 CONSTRAINT [PKCU_US_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](8) NULL,
	[LevelID] [int] NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTasks]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[IsExpanded] [bit] NULL,
 CONSTRAINT [PK_UserTasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UZER]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UZER](
	[NUM_USER] [int] NOT NULL,
	[NAME_SHORT] [nvarchar](100) NULL,
	[NAME_FULL] [nvarchar](255) NULL,
	[NAME_TINY] [nvarchar](50) NULL,
	[NAME_MICRO] [nvarchar](15) NULL,
	[SITY] [nvarchar](30) NULL,
	[ADDR] [nvarchar](255) NULL,
	[TELEFON] [nvarchar](255) NULL,
	[FAX] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[CODES] [nvarchar](255) NULL,
	[BANK] [nvarchar](255) NULL,
	[DESCRIPTIONS] [nvarchar](255) NULL,
	[OWNERMODE] [smallint] NULL,
	[PLUSCITY] [bit] NULL,
	[UROPT] [nvarchar](200) NULL,
	[PASS_PER_ALERT] [int] NULL,
	[PASS_BEHAVIOUR] [int] NULL,
 CONSTRAINT [PKCU_UZER_NUM_USER] PRIMARY KEY CLUSTERED 
(
	[NUM_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UZERDB]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UZERDB](
	[NUM_REC] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[DT1] [datetime] NULL,
	[DT2] [datetime] NULL,
	[DT3] [datetime] NULL,
 CONSTRAINT [PKCU_UZERDB_NUM_REC] PRIMARY KEY CLUSTERED 
(
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Works]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Works](
	[WorkName] [varchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[WorkTypeID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[Minutes] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Works] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkTypeAttrs]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTypeAttrs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WorkTypeID] [int] NOT NULL,
	[AttrID] [int] NOT NULL,
 CONSTRAINT [PK_WTypeAttrs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WorkTypes]    Script Date: 10.01.2019 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkTypes](
	[TypeName] [varchar](50) NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_WTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_DFATT_NUM_FORM_VARGROUP_VA]    Script Date: 10.01.2019 14:34:01 ******/
CREATE NONCLUSTERED INDEX [I_DFATT_NUM_FORM_VARGROUP_VA] ON [dbo].[DFATT]
(
	[NUM_FORM] ASC,
	[VARGROUP] ASC,
	[VARNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_DFATT_NUM_FORM_NUM_REC]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFATT_NUM_FORM_NUM_REC] ON [dbo].[DFATT]
(
	[NUM_FORM] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMS_CLASS_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMS_CLASS_NAME] ON [dbo].[DFORMS]
(
	[CLASS] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMS_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMS_NAME] ON [dbo].[DFORMS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMS_NAME_NUM_REC]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMS_NAME_NUM_REC] ON [dbo].[DFORMS]
(
	[NAME] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_DFORMSDOX_NUM_DOC_DT_TM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSDOX_NUM_DOC_DT_TM] ON [dbo].[DFORMSDOX]
(
	[NUM_DOC] ASC,
	[DT] ASC,
	[TM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMSDOX_NUM_REC_NUM_DOC_]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSDOX_NUM_REC_NUM_DOC_] ON [dbo].[DFORMSDOX]
(
	[NUM_REC] ASC,
	[NUM_DOC] ASC,
	[DT] ASC,
	[TM] ASC,
	[FIO_ID] ASC,
	[LAB_ID] ASC,
	[FINAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [I_DFORMSDOXATT_NUM_DOX_FORM_]    Script Date: 10.01.2019 14:34:01 ******/
CREATE NONCLUSTERED INDEX [I_DFORMSDOXATT_NUM_DOX_FORM_] ON [dbo].[DFORMSDOXATT]
(
	[NUM_DOX_FORM] ASC,
	[NAME_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_DFORMSDOXATT_NUM_DOX_FORM_]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSDOXATT_NUM_DOX_FORM_] ON [dbo].[DFORMSDOXATT]
(
	[NUM_DOX_FORM] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMSDOXP_NUM_DOX_FORM_NA]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSDOXP_NUM_DOX_FORM_NA] ON [dbo].[DFORMSDOXP]
(
	[NUM_DOX_FORM] ASC,
	[NAME_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_DFORMSDOXP_NUM_DOX_FORM_NU]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSDOXP_NUM_DOX_FORM_NU] ON [dbo].[DFORMSDOXP]
(
	[NUM_DOX_FORM] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMSHISTORY_NUM_FORM_NAM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSHISTORY_NUM_FORM_NAM] ON [dbo].[DFORMSHISTORY]
(
	[NUM_FORM] ASC,
	[NAME_PRM] ASC,
	[TIME_STAMP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMSHISTORY_NUM_FORM_NAM9]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSHISTORY_NUM_FORM_NAM9] ON [dbo].[DFORMSHISTORY]
(
	[NUM_FORM] ASC,
	[NAME_PRM] ASC,
	[VALUE_PRM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_DFORMSOLE_NUM_DOC]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSOLE_NUM_DOC] ON [dbo].[DFORMSOLE]
(
	[NUM_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_DFORMSQUERY_NUM_FORM_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSQUERY_NUM_FORM_NAME] ON [dbo].[DFORMSQUERY]
(
	[NUM_FORM] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_DFORMSQUERY_NUM_FORM_NUMBR]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_DFORMSQUERY_NUM_FORM_NUMBR] ON [dbo].[DFORMSQUERY]
(
	[NUM_FORM] ASC,
	[NUMBR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_GLOBALOPTIONS_OPTNAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_GLOBALOPTIONS_OPTNAME] ON [dbo].[GLOBALOPTIONS]
(
	[OPTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_IGLIST_NUM_GROUP_NUM_INV]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_IGLIST_NUM_GROUP_NUM_INV] ON [dbo].[IGLIST]
(
	[NUM_GROUP] ASC,
	[NUM_INV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_IGLIST_NUM_INV]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_IGLIST_NUM_INV] ON [dbo].[IGLIST]
(
	[NUM_INV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_IGROUPS_GRUP]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_IGROUPS_GRUP] ON [dbo].[IGROUPS]
(
	[GRUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_IGROUPS_NUM_REC_GRUP]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_IGROUPS_NUM_REC_GRUP] ON [dbo].[IGROUPS]
(
	[NUM_REC] ASC,
	[GRUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_INVENTS_NUM_REC_TABLENAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_INVENTS_NUM_REC_TABLENAME] ON [dbo].[INVENTS]
(
	[NUM_REC] ASC,
	[TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_INVENTS_SNAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_INVENTS_SNAME] ON [dbo].[INVENTS]
(
	[SNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_INVENTS_TABLENAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_INVENTS_TABLENAME] ON [dbo].[INVENTS]
(
	[TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_INVFIELDS_NUM_INV_FIELD]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_INVFIELDS_NUM_INV_FIELD] ON [dbo].[INVFIELDS]
(
	[NUM_INV] ASC,
	[FIELD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_INVFIELDS_NUM_INV_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_INVFIELDS_NUM_INV_NAME] ON [dbo].[INVFIELDS]
(
	[NUM_INV] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_INVFIELDS_NUM_INV_NUM_REC]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_INVFIELDS_NUM_INV_NUM_REC] ON [dbo].[INVFIELDS]
(
	[NUM_INV] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_JOURNAL_NUM_FORM_NUM_LAB_N]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_JOURNAL_NUM_FORM_NUM_LAB_N] ON [dbo].[JOURNAL]
(
	[NUM_FORM] ASC,
	[NUM_LAB] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_JRO_LAB_NUM_LAB_NUM_EQUIP]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_JRO_LAB_NUM_LAB_NUM_EQUIP] ON [dbo].[JRO_LAB]
(
	[NUM_LAB] ASC,
	[NUM_EQUIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_LABS_NAME_LAB]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LABS_NAME_LAB] ON [dbo].[LABS]
(
	[NAME_LAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_LABS_NUM_LAB_NAME_LAB]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LABS_NUM_LAB_NAME_LAB] ON [dbo].[LABS]
(
	[NUM_LAB] ASC,
	[NAME_LAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LJ_LOCKF_NUM_LJT_NUM_N]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LJ_LOCKF_NUM_LJT_NUM_N] ON [dbo].[LJ_LOCKF]
(
	[NUM_LJT] ASC,
	[NUM_N] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_LJS_JOURNAL]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LJS_JOURNAL] ON [dbo].[LJS]
(
	[JOURNAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_LJS_NUM_REC_JOURNAL]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LJS_NUM_REC_JOURNAL] ON [dbo].[LJS]
(
	[NUM_REC] ASC,
	[JOURNAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_LOGIN_UZER]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_UZER] ON [dbo].[LOGIN]
(
	[UZER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_CLJJ_RIGHTS_NUM_LOGI]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_CLJJ_RIGHTS_NUM_LOGI] ON [dbo].[LOGIN_CLJJ_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_LJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_CLJL_RIGHTS_NUM_LOGI]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_CLJL_RIGHTS_NUM_LOGI] ON [dbo].[LOGIN_CLJL_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_LAB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_LOGIN_JGROUP_RIGHTS_NUM_LO]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_JGROUP_RIGHTS_NUM_LO] ON [dbo].[LOGIN_JGROUP_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[GR_NAME] ASC,
	[NUM_JR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_JRO_RIGHTS_NUM_LOGIN]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_JRO_RIGHTS_NUM_LOGIN] ON [dbo].[LOGIN_JRO_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_JUHR_RIGHTS_NUM_LOGI]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_JUHR_RIGHTS_NUM_LOGI] ON [dbo].[LOGIN_JUHR_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_JUHR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_JURNAL_RIGHTS_NUM_LO]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_JURNAL_RIGHTS_NUM_LO] ON [dbo].[LOGIN_JURNAL_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_JURNAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_NDOCS_RIGHTS_NUM_LOG]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_NDOCS_RIGHTS_NUM_LOG] ON [dbo].[LOGIN_NDOCS_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_DOCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_RIGHTS_NUM_LOGIN_NUM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_RIGHTS_NUM_LOGIN_NUM] ON [dbo].[LOGIN_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_IGROUPS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_SML_RIGHTS_NUM_LOGIN]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_SML_RIGHTS_NUM_LOGIN] ON [dbo].[LOGIN_SML_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_SML] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_TJ_RIGHTS_NUM_LOGIN_]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_TJ_RIGHTS_NUM_LOGIN_] ON [dbo].[LOGIN_TJ_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_TJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_UNIV_RIGHTS_NUM_LOGI]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_UNIV_RIGHTS_NUM_LOGI] ON [dbo].[LOGIN_UNIV_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_UNIBOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_LOGIN_UNIV2_RIGHTS_NUM_LOG]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_LOGIN_UNIV2_RIGHTS_NUM_LOG] ON [dbo].[LOGIN_UNIV2_RIGHTS]
(
	[NUM_LOGIN] ASC,
	[NUM_US] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_METHPARVARS_NUM_PRM_NUM_REC]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_METHPARVARS_NUM_PRM_NUM_REC] ON [dbo].[METHPARVARS]
(
	[NUM_PRM] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_METHPARVARS_NUM_PRM_VARIAB]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_METHPARVARS_NUM_PRM_VARIAB] ON [dbo].[METHPARVARS]
(
	[NUM_PRM] ASC,
	[VARIABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_REGNUMS_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_REGNUMS_NAME] ON [dbo].[REGNUMS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SMK2_JFORMS_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SMK2_JFORMS_NAME] ON [dbo].[SMK2_JFORMS]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SMK2_JFORMS_NUM_SMK_NAME_N]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SMK2_JFORMS_NUM_SMK_NAME_N] ON [dbo].[SMK2_JFORMS]
(
	[NUM_SMK] ASC,
	[NAME] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_SMK2_JOURNALS_NUM_LAB_NUM_]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SMK2_JOURNALS_NUM_LAB_NUM_] ON [dbo].[SMK2_JOURNALS]
(
	[NUM_LAB] ASC,
	[NUM_JFORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SML_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SML_NAME] ON [dbo].[SML]
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SML_NUM_REC_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SML_NUM_REC_NAME] ON [dbo].[SML]
(
	[NUM_REC] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SPR_HEADERS_NAMEFORM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SPR_HEADERS_NAMEFORM] ON [dbo].[SPR_HEADERS]
(
	[NAMEFORM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SPR_HEADERS_SID]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SPR_HEADERS_SID] ON [dbo].[SPR_HEADERS]
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SPR_HEADERS_SID_NUM_REC]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SPR_HEADERS_SID_NUM_REC] ON [dbo].[SPR_HEADERS]
(
	[SID] ASC,
	[NUM_REC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SPR_VALS_NUM_SPR_VAL]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SPR_VALS_NUM_SPR_VAL] ON [dbo].[SPR_VALS]
(
	[NUM_SPR] ASC,
	[VAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_SR_DOC_ND_NUM_DOC_NAME]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_SR_DOC_ND_NUM_DOC_NAME] ON [dbo].[SR_DOC_ND]
(
	[NUM_DOC] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_STATISTIKA_NAME_ST_TYPE_ST]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_STATISTIKA_NAME_ST_TYPE_ST] ON [dbo].[STATISTIKA]
(
	[NAME_ST] ASC,
	[TYPE_ST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_STATISTIKA_NUM_REC_DATE_ST]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_STATISTIKA_NUM_REC_DATE_ST] ON [dbo].[STATISTIKA]
(
	[NUM_REC] ASC,
	[DATE_ST] ASC,
	[COUNT_ST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_UNIBOOK_NAMEBOOK]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_UNIBOOK_NAMEBOOK] ON [dbo].[UNIBOOK]
(
	[NAMEBOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_UNIBOOK_NAMEBOOKSM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_UNIBOOK_NAMEBOOKSM] ON [dbo].[UNIBOOK]
(
	[NAMEBOOKSM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_UNIBOOK_NUM_REC_NAMEBOOK]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_UNIBOOK_NUM_REC_NAMEBOOK] ON [dbo].[UNIBOOK]
(
	[NUM_REC] ASC,
	[NAMEBOOK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U_UNILAB_NUM_LAB_NUM_UNI]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_UNILAB_NUM_LAB_NUM_UNI] ON [dbo].[UNILAB]
(
	[NUM_LAB] ASC,
	[NUM_UNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_US_NAM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_US_NAM] ON [dbo].[US]
(
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_US_NUM_REC_NAM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_US_NUM_REC_NAM] ON [dbo].[US]
(
	[NUM_REC] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [U_US_SNAM]    Script Date: 10.01.2019 14:34:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [U_US_SNAM] ON [dbo].[US]
(
	[SNAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_TaskTypeID]  DEFAULT ((0)) FOR [TaskTypeID]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_WorkTypeID]  DEFAULT ((0)) FOR [WorkTypeID]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_LevelID]  DEFAULT ((1)) FOR [LevelID]
GO
ALTER TABLE [dbo].[Works] ADD  CONSTRAINT [DF_Works_WorkTypeID]  DEFAULT ((0)) FOR [WorkTypeID]
GO
ALTER TABLE [dbo].[Works] ADD  CONSTRAINT [DF_Works_Minutes]  DEFAULT ((0)) FOR [Minutes]
GO
ALTER TABLE [dbo].[Works] ADD  DEFAULT ('00:00:00') FOR [StartTime]
GO
ALTER TABLE [dbo].[AttrValues]  WITH CHECK ADD  CONSTRAINT [FK_AttrValues_Attributes1] FOREIGN KEY([AttrID])
REFERENCES [dbo].[Attributes] ([ID])
GO
ALTER TABLE [dbo].[AttrValues] CHECK CONSTRAINT [FK_AttrValues_Attributes1]
GO
ALTER TABLE [dbo].[AttrValues]  WITH CHECK ADD  CONSTRAINT [FK_AttrValues_Works] FOREIGN KEY([WorkID])
REFERENCES [dbo].[Works] ([ID])
GO
ALTER TABLE [dbo].[AttrValues] CHECK CONSTRAINT [FK_AttrValues_Works]
GO
ALTER TABLE [dbo].[JRO_LAB]  WITH CHECK ADD  CONSTRAINT [FK_JRO_LAB_LABS] FOREIGN KEY([NUM_LAB])
REFERENCES [dbo].[LABS] ([NUM_LAB])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JRO_LAB] CHECK CONSTRAINT [FK_JRO_LAB_LABS]
GO
ALTER TABLE [dbo].[LEVELS]  WITH CHECK ADD  CONSTRAINT [FK_LEVELS_LEVELS] FOREIGN KEY([LevelID])
REFERENCES [dbo].[LEVELS] ([LevelID])
GO
ALTER TABLE [dbo].[LEVELS] CHECK CONSTRAINT [FK_LEVELS_LEVELS]
GO
ALTER TABLE [dbo].[LOGIN_RIGHTS]  WITH CHECK ADD  CONSTRAINT [FK_IGROUPS_LOGIN_RIGHTS] FOREIGN KEY([NUM_IGROUPS])
REFERENCES [dbo].[IGROUPS] ([NUM_REC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOGIN_RIGHTS] CHECK CONSTRAINT [FK_IGROUPS_LOGIN_RIGHTS]
GO
ALTER TABLE [dbo].[LOGIN_RIGHTS]  WITH CHECK ADD  CONSTRAINT [FK_LOGIN_LOGIN_RIGHTS] FOREIGN KEY([NUM_LOGIN])
REFERENCES [dbo].[LOGIN] ([NUM_REC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOGIN_RIGHTS] CHECK CONSTRAINT [FK_LOGIN_LOGIN_RIGHTS]
GO
ALTER TABLE [dbo].[PropValues]  WITH CHECK ADD  CONSTRAINT [FK_PropValues_Properties] FOREIGN KEY([PropID])
REFERENCES [dbo].[Properties] ([ID])
GO
ALTER TABLE [dbo].[PropValues] CHECK CONSTRAINT [FK_PropValues_Properties]
GO
ALTER TABLE [dbo].[PropValues]  WITH CHECK ADD  CONSTRAINT [FK_PropValues_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[PropValues] CHECK CONSTRAINT [FK_PropValues_Tasks]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Levels] FOREIGN KEY([LevelID])
REFERENCES [dbo].[LEVELS] ([LevelID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Levels]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Tasks] FOREIGN KEY([ParentTaskID])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Tasks]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_TaskTypes] FOREIGN KEY([TaskTypeID])
REFERENCES [dbo].[TaskTypes] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_TaskTypes]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_WorkTypes] FOREIGN KEY([WorkTypeID])
REFERENCES [dbo].[WorkTypes] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_WorkTypes]
GO
ALTER TABLE [dbo].[TaskTypeProps]  WITH CHECK ADD  CONSTRAINT [FK_TaskTypeProps_Properties] FOREIGN KEY([PropID])
REFERENCES [dbo].[Properties] ([ID])
GO
ALTER TABLE [dbo].[TaskTypeProps] CHECK CONSTRAINT [FK_TaskTypeProps_Properties]
GO
ALTER TABLE [dbo].[TaskTypeProps]  WITH CHECK ADD  CONSTRAINT [FK_TaskTypeProps_TaskTypes] FOREIGN KEY([TaskTypeID])
REFERENCES [dbo].[TaskTypes] ([ID])
GO
ALTER TABLE [dbo].[TaskTypeProps] CHECK CONSTRAINT [FK_TaskTypeProps_TaskTypes]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Levels] FOREIGN KEY([LevelID])
REFERENCES [dbo].[LEVELS] ([LevelID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Levels]
GO
ALTER TABLE [dbo].[UserTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserTasks_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[UserTasks] CHECK CONSTRAINT [FK_UserTasks_Tasks]
GO
ALTER TABLE [dbo].[UserTasks]  WITH CHECK ADD  CONSTRAINT [FK_UserTasks_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserTasks] CHECK CONSTRAINT [FK_UserTasks_Users]
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD  CONSTRAINT [FK_Works_Tasks] FOREIGN KEY([TaskID])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[Works] CHECK CONSTRAINT [FK_Works_Tasks]
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD  CONSTRAINT [FK_Works_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Works] CHECK CONSTRAINT [FK_Works_Users]
GO
ALTER TABLE [dbo].[Works]  WITH CHECK ADD  CONSTRAINT [FK_Works_WorkTypes] FOREIGN KEY([WorkTypeID])
REFERENCES [dbo].[WorkTypes] ([ID])
GO
ALTER TABLE [dbo].[Works] CHECK CONSTRAINT [FK_Works_WorkTypes]
GO
ALTER TABLE [dbo].[WorkTypeAttrs]  WITH CHECK ADD  CONSTRAINT [FK_WorkTypeAttrs_Attributes] FOREIGN KEY([AttrID])
REFERENCES [dbo].[Attributes] ([ID])
GO
ALTER TABLE [dbo].[WorkTypeAttrs] CHECK CONSTRAINT [FK_WorkTypeAttrs_Attributes]
GO
ALTER TABLE [dbo].[WorkTypeAttrs]  WITH CHECK ADD  CONSTRAINT [FK_WorkTypeAttrs_WorkTypes] FOREIGN KEY([WorkTypeID])
REFERENCES [dbo].[WorkTypes] ([ID])
GO
ALTER TABLE [dbo].[WorkTypeAttrs] CHECK CONSTRAINT [FK_WorkTypeAttrs_WorkTypes]
GO
USE [master]
GO
